include ../../components/alert/alert
include ../../components/input/input
include ../../components/select/select
include ../../components/button/button

.calc
	.calc__container
		.calc__wrap
			.calc__content
				.calc__requisition
					span.calc__title Оформление заявки
					form.calc-form
						.calc-form__row
							.calc-form__input
								+input('text', 'Имя:')
						.calc-form__row
							.calc-form__input
								+input('text', 'Номер для связи')(class='js-input-phone-mask')
						.calc-form__row
							.calc-form__input
								+input('text', 'Email (необязательно)')
						.calc-form__buttons
							.calc-form__button
								+button('button', 'Отправить')
							.calc-form__button
								+button('button', 'Отмена')(class='js-cancel-button button_base--gray')
				.calc__calculator
					.calc__alert
						+alert('Внимание! Минимальный заказ - 100 гр.')
					.calc-table
						.calc-table__thead
							.calc-table__tr
								.calc-table__td
									span label1
								.calc-table__td
									span label2
								.calc-table__td
									span label3
								.calc-table__td
									span label4
						.calc-table__tbody
							.calc-table__tr
								.calc-table__td
									+select('Марка', ['Ад 99,99', 'АдСи 92,5'])
								.calc-table__td
									+input('text')(class="js-input-number-mask" placeholder='Толщина')
								.calc-table__td
									+input('text')(class="js-input-number-mask" placeholder='Длинна')
								.calc-table__td
									+select('ед. изм', ['м', 'гр'])
								.calc-table__button.js-remove-row-button
									include ../../../static/images/svg/close.svg
					.calc__button.-add-row
								+button('button', 'Добавить строку')(class="js-add-row-button")
					.calc__footer
						.calc-result
							span.calc-result-header Итог: 50 000р
							span.calc-result-price Ад 99,99: 35 гр.
							span.calc-result-price АдСи 92,5: 45 гр.
						.from__button.-checkout
							+button('button', 'Оформить заказ')(class="js-checkout-button")
						
					
					

							
								


				
					